# Data_Load

## **Imports**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## **Dataset Load**

In [3]:
game_data = pd.read_csv('/data/notebook_files/game_data_all.csv')
game_release = pd.read_csv('/data/notebook_files/games-release-ALL.csv')

In [4]:
game_data.head()

,Unnamed: 0,game,link,release,peak_players,positive_reviews,negative_reviews,total_reviews,rating,primary_genre,store_genres,publisher,developer,detected_technologies,store_asset_mod_time,review_percentage,players_right_now,24_hour_peak,all_time_peak,all_time_peak_date
0,0,Pizza Tower,/app/2231450/,2023-01-26,4529,19807,227,20034,96.39,Action (1),"Action (1), Indie (23)",Tour De Pizza,Tour De Pizza,Engine.GameMaker; SDK.FMOD,2023-01-10,98.0,"3,101","3,606",4529,2023-03-25
1,1,Resident Evil 4,/app/2050650/,2023-03-24,168191,61752,1616,63368,95.75,Action (1),"Action (1), Adventure (25)",CAPCOM Co. Ltd.,CAPCOM Co. Ltd.,Engine.RE_Engine; SDK.AMD_GPU_Services,2023-03-29,97.0,"46,289","47,164",168191,2023-03-25
2,2,The Murder of Sonic the Hedgehog,/app/2324650/,2023-03-31,15543,12643,213,12856,95.54,Casual (4),"Casual (4), Free to Play (37), Indie (23), Sim...",SEGA,SEGA,Engine.Unity; SDK.UnityBurst; SDK.cURL,2023-03-24,98.0,618,776,15543,2023-03-31
3,3,Pineapple on pizza,/app/2263010/,2023-03-28,1415,11717,209,11926,95.39,Indie (23),"Casual (4), Free to Play (37), Indie (23)",Majorariatto,Majorariatto,Engine.Unity; SDK.cURL,2023-03-22,98.0,101,101,1415,2023-03-28
4,4,Hi-Fi RUSH,/app/1817230/,2023-01-25,6132,14152,324,14476,95.09,Action (1),Action (1),Bethesda Softworks,Tango Gameworks,Engine.Unreal; SDK.Intel_OID; SDK.Intel_XeSS; ...,2023-04-11,97.0,630,664,6132,2023-01-29

In [5]:
game_release.head()

,Unnamed: 0,game,link,release,peak_players,positive_reviews,negative_reviews,total_reviews,rating
0,0,Pizza Tower,/app/2231450/,Jan 26 2023,"4,529","19,807",227,227,96.39%
1,1,Resident Evil 4,/app/2050650/,Mar 24 2023,"168,191","61,752","1,616","1,616",95.75%
2,2,The Murder of Sonic the Hedgehog,/app/2324650/,Mar 31 2023,"15,543","12,643",213,213,95.54%
3,3,Pineapple on pizza,/app/2263010/,Mar 28 2023,"1,415","11,717",209,209,95.39%
4,4,Hi-Fi RUSH,/app/1817230/,Jan 25 2023,"6,132","14,152",324,324,95.09%

In [6]:
game_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67571 entries, 0 to 67570
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             67571 non-null  int64
 1   game                   67571 non-null  object
 2   link                   67571 non-null  object
 3   release                67571 non-null  object
 4   peak_players           67571 non-null  int64
 5   positive_reviews       67571 non-null  int64
 6   negative_reviews       67571 non-null  int64
 7   total_reviews          67571 non-null  int64
 8   rating                 67571 non-null  float64
 9   primary_genre          67561 non-null  object
 10  store_genres           67514 non-null  object
 11  publisher              67129 non-null  object
 12  developer              67445 non-null  object
 13  detected_technologies  60265 non-null  object
 14  store_asset_mod_time   67275 non-null  object
 15  review_percentage      47767 non-null  float64
 16  players_right_now      67565 non-null  object
 17  24_hour_peak           67565 non-null  object
 18  all_time_peak          67571 non-null  int64
 19  all_time_peak_date     67565 non-null  object
dtypes: float64(2), int64(6), object(12)
memory usage: 10.3+ MB

In [7]:
game_data.describe()

,Unnamed: 0,peak_players,positive_reviews,negative_reviews,total_reviews,rating,review_percentage,all_time_peak
count,67571.000000,6.757100e+04,6.757100e+04,67571.000000,6.757100e+04,67571.000000,47767.000000,6.757100e+04
mean,33785.000000,9.528674e+02,1.273527e+03,216.893801,1.490421e+03,65.288208,74.840497,9.629879e+02
std,19506.211857,1.979093e+04,2.955163e+04,5434.959528,3.400923e+04,14.059623,18.764257,2.017869e+04
min,0.000000,0.000000e+00,0.000000e+00,0.000000,1.000000e+00,15.090000,0.000000,0.000000e+00
25%,16892.500000,3.000000e+00,5.000000e+00,1.000000,7.000000e+00,56.530000,64.000000,3.000000e+00
50%,33785.000000,7.000000e+00,1.900000e+01,6.000000,2.600000e+01,66.760000,79.000000,7.000000e+00
75%,50677.500000,4.600000e+01,9.900000e+01,29.000000,1.320000e+02,75.640000,90.000000,4.700000e+01
max,67570.000000,3.257248e+06,6.307931e+06,927317.000000,7.117776e+06,97.540000,100.000000,3.257248e+06

In [16]:
game_data.isna().sum()

## **Data Manipulation**

In [9]:
def change_name(data, col1, col2) :
    data.rename(columns = {col1 : col2}, inplace = True)

In [10]:
change_name(game_data, 'Unnamed: 0', 'id')

In [11]:
change_name(game_release, 'Unnamed: 0', 'id')